<!-- contacts.html -->
<!-- page contacts pour les utilisateurs -->
{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>{{ _('Enregistrer un contact') }}</h1>
    <hr>
    {% if form %}
        <div class="form-group">
            <div class="col-md-4">
                {{ wtf.quick_form(form) }}
            </div>
        </div>
        <hr>
    {% endif %}
    <!-- Affichage des contacts -->
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">{{ _('Nom') }}</th>
            <th scope="col">{{ _('Téléphone') }}</th>
            <th scope="col">{{ _('Adresse courriel') }}</th>
            <th scope="col">{{ _('Adresse') }}</th>
            <th scope="col">{{ _('Options') }}</th>
          </tr>
        </thead>
        <tbody>
    {% for contact in contacts %}
        <!-- Corps des contacts -->
        <tr>
            <!-- À ajouter des attributs -->
            <td>{{ contact.id }}</td>
            <td>{{ contact.name }}</td>
            <td>{{ contact.phone_number }}</td>
            <td>{{ contact.email }}</td>
            <td>{{ contact.address }}</td>
            <td>
                <a class="btn btn-info" href="{{ url_for('entrees.update_contact', contact_id=contact.id) }}">{{ _('Modifier') }}</a>
                <a class="btn btn-danger" href="{{ url_for('entrees.delete_contact', contact_id=contact.id) }}">{{ _('Supprimer') }}</a>
            </td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
    <!-- Pagination -->
    {% if prev_url %}
        <a class="btn btn-link" href="{{ prev_url }}">{{ _('Page précédente') }}</a>
    {% endif %}
    {% if next_url %}
        <a class="btn btn-link" href="{{ next_url }}">{{ _('Page suivante') }}</a>
    {% endif %}
    <br><br>
{% endblock %}