<!-- index.html -->
<!-- page de sélection des profils d'entreprise -->
{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>{{ _('Bonjour') }}, <strong>{{ current_user.username }}</strong> !</h1>
    <h1>{{ _('Vos profils d\'entreprise') }}</h1>
    <hr>
    {% if companyProfil|length > 0 %}
        <h2>{{ _('Sélectionner votre entreprise') }}</h2>
        <h3>{{ _('Le profil sélectionné est') }}<strong>{{  nameSelect }}</strong></h3>
        {% if form %}
            <div class="form-group">
                <div class="col-md-4">
                    {{ wtf.quick_form(form) }}
                </div>
            </div>
            <hr>
        {% endif %}

        <a href="{{ url_for('entrees.register_company_profil') }}">
            <span>
                {{ _('Gérer vos profil d\'entreprise') }}
            </span>
        </a>

    {% else %}
        <h2>{{ _('Vous n\'avez pas de profil d\'entreprise') }}</h2>
        <a href="{{ url_for('entrees.register_company_profil') }}">
            <span>
                {{ _('Ajouter un profil d\'entreprise') }}
            </span>
        </a>
    {% endif %}
    
{% endblock %}