<!-- Body du courriel de réinitialisation d'un mot de passe -->
{% block app_content %}
    <p>{{ _('Bonjour') }} {{ user.username }},</p>
    <p>
        {{ _('Pour réinitialiser votre mot de passe:') }}
        <a href="{{ url_for('auth.reset_password', token=token, _external=True) }}">{{ _('Cliquez ici') }}</a>.
    </p>
    <p>{{ _('Alternativement, vous pouvez coller le lien suivant dans votre navigateur:') }}</p>
    <p>{{ url_for('auth.reset_password', token=token, _external=True) }}</p>
    <p>{{ _('Si vous n\'avez pas demandé la réinitialisation de votre mot de passe, ignorez ce message.') }}</p>
    <br>
    <p>{{ _('Sincèrement,') }}</p>
    <p>Admins, Système de facturation (SDF)</p>
{% endblock %}