<!-- base.html -->
<!-- page contenant la base de toutes les autres pages de l'application -->
{% extends 'bootstrap/base.html' %}

{% block html %}
  {% block head %}
    {% block metas %}
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}
    {% block title %}
      {% if title %}
        <title>{{ title }} - {{ _('Système de Facturation') }}</title>
      {% else %}
        <title>{{ _('Système de Facturation') }}</title>
      {% endif %}
    {% endblock %}
    {% block styles %}
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% endblock %}
    {% block scripts %}
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      <script src="{{ url_for('static', filename='js/script.js') }}"></script>
      {{ super() }}
      {{ moment.include_moment() }}
      {{ moment.lang('fr') }} <!-- Ajout de la langue français pour la date-->
    {% endblock %}
  {% endblock %}
  {% block body %}
    <!-- Barre de navigation -->
    {% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="{{ url_for('index') }}">{{ _('Système de facturation') }}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if request.url_rule.endpoint == 'welcome' %}active {% elif request.url_rule.endpoint == 'index'%}active{% endif %}">
              <a class="nav-link" href="{{ url_for('index') }}">{{ _('Accueil') }}</a>
            </li>
            {% if current_user.is_anonymous %}
            <li class="nav-item {% if request.url_rule.endpoint == 'register' %}active{% endif %}">
              <a class="nav-link" href="{{ url_for('register') }}">{{ _("S'inscrire") }}</a>
            </li>
            <li class="nav-item {% if request.url_rule.endpoint == 'login' %}active{% endif %}">
              <a class="nav-link" href="{{ url_for('login') }}">{{ _('Se connecter') }}</a>
            </li>
            {% else %}
            <li class="nav-item {% if request.url_rule.endpoint == 'contacts' %}active{% endif %}">
              <a class="nav-link" href="{{ url_for('contacts') }}">{{ _('Contacts') }}</a>
            </li>
            <li class="nav-item {% if request.url_rule.endpoint == 'comptes' %}active{% endif %}">
              <a class="nav-link" href="{{ url_for('comptes') }}">{{ _('Comptes') }}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if request.url_rule.endpoint == 'bill' %}active{% endif %}" href="{{ url_for('bill') }}">{{ _("Factures") }}</a>
            </li>
            <li class="nav-item dropdown {% if request.url_rule.endpoint == 'user' %}active{% endif %}">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ _('Mon profil') }}</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{{ url_for('user', username=current_user.username) }}">{{ _('Mon profil') }}</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{ url_for('logout') }}">{{ _('Se déconnecter') }}</a>
              </div>
            </li>
            {% endif %}
          </li>
        </ul>
        <form class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder={{ _("Exemple: loyer") }} aria-label="Search" />
          <button class="btn btn-outline-light my-2 my-sm-0" type="submit">{{ _('Rechercher') }}</button>
        </form>
      </div>
    </nav>
    <hr>
    {% endblock %}
    <!-- Affichage des messages Flash précisés dans Routes -->
    {% block content %}
      {% with messages = get_flashed_messages() %}
      {% if messages %}
          {% for message in messages %}
          <div class="alert alert-info">
            {{ message }}
          </div>
          {% endfor %}
      {% endif %}
      {% endwith %}
    {% endblock %}
    <!-- Bloc a utiliser dans les autres pages -->
    {% block app_content %}{% endblock %}
  {% endblock %}
{% endblock %}