<!-- index.html -->
<!-- page d'accueil pour les utilisateurs -->
{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>{{ _('Bonjour') }}, {{ current_user.username }}!</h1>
    <hr>
    {% if form %}
        <div class="form-group">
            <div class="col-md-4">
                {{ wtf.quick_form(form) }}
            </div>
        </div>
        <hr>
    {% endif %}
    <!-- Affichage des factures -->
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">{{ _('#') }}</th>
            <th scope="col">{{ _('Date') }}</th>
            <th scope="col">{{ _('Utilisateur') }}</th>
            <th scope="col">{{ _('Nom') }}</th>
            <th scope="col">{{ _('Montant') }} ($)</th>
            <th scope="col">{{ _('Description') }}</th>
            <th scope="col">{{ _('Options') }}</th>
          </tr>
        </thead>
        <tbody>
    {% for facture in factures %}
        <!-- Corps des factures -->
        <tr>
            <!-- À ajouter des attributs -->
            <th scope="row">{{ facture.id }}</th>
            <th>{{ facture.timestamp }}</th>
            <td>{{ facture.author.username }}</td>
            <td>{{ facture.name }}</td>
            <td>{{ facture.amount }}</td>
            <td>{{ facture.body }}</td>
            <td>
                <a class="btn btn-info" href="{{ url_for('update', facture_id=facture.id) }}">{{ _('Modifier') }}</a>
                <a class="btn btn-danger" href="{{ url_for('delete', facture_id=facture.id) }}">{{ _('Supprimer') }}</a>
            </td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
    <!-- Pagination -->
    {% if prev_url %}
        <a class="btn btn-link" href="{{ prev_url }}">{{ _('Page précédente') }}</a>
    {% endif %}
    {% if next_url %}
        <a class="btn btn-link" href="{{ next_url }}">{{ _('Page suivante') }}</a>
    {% endif %}
    <br><br>
{% endblock %}