<!-- index.html -->
<!-- page d'accueil pour les utilisateurs -->
{% extends "base.html" %}

{% block content %}
    <h1>Bonjour, {{ current_user.username }}!</h1>
    <hr>
    <form action="" method="post">
        {{ form.hidden_tag() }} <!-- ceci défini un token grâce a la SECRET_KEY -->
        <!-- Formulaire de la facture -->
        <!-- À ajouter des attributs -->
        <div class="form-group">
            {{ form.body.label }}<br>
            {{ form.body(cols=32, rows=4) }}<br>
            {% for error in form.body.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <!-- Soumettre -->
        {{ form.submit(class_="btn btn-primary") }}
    </form>
    <hr>
    <!-- Affichage des factures -->
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Date</th>
            <th scope="col">Utilisateur</th>
            <th scope="col">Corps</th>
            <th scope="col">Options</th>
          </tr>
        </thead>
        <tbody>
    {% for facture in factures %}
        <!-- Corps des factures -->
        <tr>
            <th scope="row">{{ facture.id }}</th>
            <th>{{ facture.timestamp }}</th>
            <td>{{ facture.author.username }}</td>
            <td>{{ facture.body }}</td>
            <td>
                <a href="{{ url_for('update', facture_id=facture.id) }}">Modifier</a>
                <a href="{{ url_for('delete', facture_id=facture.id) }}">Supprimer</a>
            </td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
{% endblock %}