<!-- index.html -->
<!-- page d'accueil pour les utilisateurs -->
{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Bonjour, {{ current_user.username }}!</h1>
    <hr>
    <div class="form-group">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
    <hr>
    <!-- Affichage des factures -->
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Date</th>
            <th scope="col">Utilisateur</th>
            <th scope="col">Corps</th>
            <th scope="col">Options</th>
          </tr>
        </thead>
        <tbody>
    {% for facture in factures %}
        <!-- Corps des factures -->
        <tr>
            <th scope="row">{{ facture.id }}</th>
            <th>{{ facture.timestamp }}</th>
            <td>{{ facture.author.username }}</td>
            <td>{{ facture.body }}</td>
            <td>
                <a href="{{ url_for('update', facture_id=facture.id) }}">Modifier</a>
                <a href="{{ url_for('delete', facture_id=facture.id) }}">Supprimer</a>
            </td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
{% endblock %}