<!-- login.html -->
<!-- page de connexion pour les utilisateurs -->
{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <!-- Form pour se connecter a l'application -->
    <h1>{{ _('Se connecter') }}</h1>
    <div class="form-group">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
    <!-- Pour mot de passe oublié-->
    <p> {{ _('Mot de passe oublié ?') }} <a href="{{ url_for('reset_password_request') }}">{{ _('Réinitialisez-le ici.') }}</a></p>
    <!-- Pour s'inscrire -->
    <p>{{ _('Nouvel utilisateur ?') }} <a href="{{ url_for('register') }}">{{ _('Inscrivez-vous !') }}</a></p>
{% endblock %}