<!-- update_facture.html -->
<!-- page de modification des factures -->
{% extends "base.html" %}

{% block content %}
    <h1>Modifier facture {{ facture.id }}!</h1>
    <hr>
    <div class="form-group">
        <form action="/update/{{facture.id}}" method="POST">
            <!-- À ajouter des attributs -->
            <input type="text" name="body" value="{{facture.body}}">
            <input class="btn btn-primary" type="submit" value="Enregistrer">
        </form>
    </div>
{% endblock %}